{
  "presets": [
    "next/babel",
    "env"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": [ "." ],
        "alias": {
          "sass": "./sass"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js", {
        "extensions": [
          "css$",
          "scss$"
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
