{
  "presets": [
    "next/babel",
    "env"
  ],
  "plugins": [
    [
      "wrap-in-js", {
        "extensions": [
          "css$",
          "scss$"
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
